<html>

<head>
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item.." required />
            <button type="submit">Add Item</button>
        </form>
        <ul>

            <!--<% for(var i=0; i<todos.length; i++ ){ %>
                <li>
                    <%= todos[i]['task'] %>
                </li>
            <% } %>-->
          
            <!--<% console.log(todos); todos.forEach(function(todos,task){ %>
                <li>
                    <%= todos[task] %>
                </li>
            <%})%>-->

            <% for(var data in todos) { %>
                <li>
                    <%= todos[data].task %>
                </li>
            <%} %>
        </ul>
    </div>
</body>

</html>